body {
	margin: 0;
	font-family: "Poppins";
	color: #123C69;
	line-height: .8;
	background-color: #85AEC2;


	background-image: url("Images/mjmEventsBackground.png");
		background-size: 100%;
		background-repeat: no-repeat;
}

p {
		margin-bottom: 10px;
	}

nav {
	text-align: right;
	text-decoration: none;
	color: navy;
	padding: 10px;
	word-spacing: 15px;
	font-size: 2vw;
}
a:link {
	text-decoration: none;
	color: #123C69;
}

.EventsList a {

	color: #123C69;
	background-color: #85AEC2;
	padding: 4px;
	border-radius: 4px;
	font-size: 2vw;
}
h1 {
	font-size: 3vw;
}

h2 {
	font-weight: normal;
	font-size: 2vw;
}
.Videos {
	margin: 8.5% 0px 0px 25%;
	position: relative;
  overflow: hidden;
  width: 100%;
  
  padding-top: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 30%;
}

h2 {
max-width: 60vw
	text-align: center;
	font-size: 2vw;
}
	
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #85AEC2;
	text-align: center;
	padding: 5px;
}

@media only screen and (max-width: 1000px) {

	body {
		line-height: 1.2;
		background-image: url("Images/RmjmEventsBackground.png");
		background-size: 100%;
		background-repeat: no-repeat;

	}
	
}

